:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --default-gray: #f9f9f9;
  --beige: #fffced;
  --laptop-h1: 25;
  --laptop-h2: 20;
  --laptop-text: 18;
  --border-radius: 10px;
  --popup-stroke: 0.5px;
  --phone-description: 12px;
  --phone-h3: 20px;
  --brown: #482626;
  --black: #000;
  --phone-body: 16;
  --white: #fff;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);

  background-color: var(--beige);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  /* margin: 0; */
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

button,
.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  color: black;

  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover,
.button:hover {
  cursor: pointer;
}
button:active,
.button:active {
  transition: background-color 0.2s ease-in-out;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button,
  .button {
    background-color: #f9f9f9;
  }
} */

.sticky-notes-section {
  position: absolute;
  top: 80%;
  left: 0;
  /* width: 100%;
  height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;

  z-index: 1000;
}

.sticky-notes-list {
  font-size: 0.8em;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.scene-header {
  position: absolute;
  top: 3%;
  z-index: 99;
  left: 45%;
  transform: translateX(-50%);
  display: flex;

  justify-content: flex-start;
  align-items: center;
  width: 75vw;
  gap: 1rem;
  /* background-color: var(--beige); */
  border-radius: var(--border-radius);
  margin-bottom: 0.5rem;
}

.sticky-note-buttons {
  top: 3%;
  position: absolute;
  right: 5%;
  gap: 2rem;
}

.scene-name-input {
  background-color: var(--white);
  padding: 0.5rem;
  border-style: solid;
  border-width: 0.5px;
  border-radius: var(--border-radius);
}

.scene-name-input.filled {
  background-color: var(--beige);
}

.file-upload-container {
  display: inline-block;
  margin: 0.5rem;
}

.hidden-file-input {
  display: none;
}

.custom-file-upload:hover {
  /* background: #e9ecef; */
  cursor: pointer;
}

.sticky-note-add,
.sticky-note-view {
  /* position: absolute; */
  top: 3%;
}

.sticky-note-add {
  right: 3.5%;
}

.scene-button {
  /*button for all */
  /* background-color: var(--beige); */
  border-style: none;
  font-weight: 600;
  font-size: var(--laptop-h2);
  z-index: 1000;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: var(--border-radius);
}

.home-button {
  /* position: absolute; */

  left: 1%;
  /* margin-left: 1em; */
}

.scene-info {
  position: absolute;
  right: 5%;
  top: 5%;
}

@media (max-width: 768px) {
  .scene-header {
    width: 90vw;
    height: auto;
    max-height: 2rem;
    position: absolute;
    gap: 0.5rem;
    position: fixed;
    left: 50%;
  }

  .scene-button {
    padding: 0.5rem;
  }

  .scene-button span {
    display: none;
  }

  .scene-name-input {
    flex: 1;
    min-width: 0;
  }

  .scene-button img {
    width: 25px;
    height: 25px;
  }

  .sticky-note-buttons {
    position: absolute;
    bottom: 3%;
    top: auto;
    width: 95vw;
    justify-content: space-between;
  }
}

.upload-controls {
  display: flex;
  /* height: 2rem; */
  /* gap: 10px; */
  margin: 10px 0;
}

.upload-section {
  display: flex;
  flex-direction: column;
}

.upload-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.file-input {
  margin-bottom: 10px;
}
